<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- NAVBAR -->
    <header class='flex shadow-lg py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
        <div class='flex flex-wrap items-center justify-between gap-4 w-full'>
         
          <div id="collapseMenu"
            class='max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
            <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
                <path
                  d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                  data-original="#000000"></path>
                <path
                  d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                  data-original="#000000"></path>
              </svg>
            </button>
      
            <ul
              class='lg:flex lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
              <li class='mb-6 hidden max-lg:block'>
                <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
                </a>
              </li>
              <li class='max-lg:border-b max-lg:py-3 px-3'>
                <a href='javascript:void(0)'
                  class='hover:text-[#007bff] text-[#007bff] block font-semibold text-[15px]'>Home</a>
              </li>
             
              <li class='max-lg:border-b max-lg:py-3 px-3'><a href='/instructor/course/add'
                  class='hover:text-[#007bff] text-[#333] block font-semibold text-[15px]'>Add Courses</a>
              </li>
              
            </ul>
          </div>
      
          <div class='flex items-center ml-auto space-x-6'>
            
            <a href="/register"
               class='px-4 py-2 text-sm rounded-sm font-bold text-white border-2 border-[#007bff] bg-[#007bff] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff]'>Sign
              Out</a>
      
            <button id="toggleOpen" class='lg:hidden'>
              <svg class="w-7 h-7" fill="#333" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </div>
      </header>

  <!-- JUMBOTRON -->
  <div class="bg-gray-800 w-full font-[sans-serif]">
    <div class="grid md:grid-cols-2 items-center md:max-h-[475px] overflow-hidden">
      <div class="p-8">
        <h1 class="sm:text-4xl text-2xl font-bold text-white"> <span class="text-orange-400">Super Vakir</span></h1>
        <p class="mt-4 text-sm text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nuncet
          tempus blandit, metus mi consectetur nibh, a pharetra felis turpis vitae ligula. Etiam laoreet velit nec neque
          ultrices, non consequat mauris tincidunt.</p>
        <p class="mt-2 text-sm text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, nuncet
          tempus blandit, metus mi consectetur nibh.</p>
        <button type="button"
          class="px-6 py-3 mt-8 rounded-md text-white text-sm tracking-wider border-none outline-none bg-orange-500 hover:bg-orange-600">Get started</button>
      </div>
      <img src="https://readymadeui.com/team-image.webp" class="w-full h-full object-cover shrink-0" />
    </div>
  </div>

  <!-- CARDS -->
  <div class="font-[sans-serif] mb-10">
    <div class="max-w-5xl max-lg:max-w-3xl mx-auto">
      <div class="text-center my-10">
        <h2 class="text-gray-800 text-3xl font-bold mb-3">Choose a Subscription</h2>
      </div>


      

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Course Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Course Description
              </th>
              <th scope="col" class="px-6 py-3">
                  Course Duration
              </th>
              <th scope="col" class="px-6 py-3 flex justify-center">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
        <% data.forEach(element => { %>
         
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= element.name %>
              </th>
              <td class="px-6 py-4">
                <%= element.description %>
              </td>
              <td class="px-6 py-4">
                <%= element.showDuration %>
              </td>
              <td class="px-6 py-4 flex gap-4 justify-center">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                  <a href="/instructor/course/delete/<%= element.id %>" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
              </td>
          </tr>
        <% }) %>

      </tbody>
  </table>
</div>

      </div>
    </div>
  </div>
</body>
</html>